@import '../scss/color';

.footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-link {
    color: #eee;
    transition: color .2s ease;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}